<div class="reply block">
  <div class="reply-content">
    <p class="scnd-font-color reply"><%= reply.message %></p>
  </div>
  <div class="user-name">
    <p class="reply">-- <%= "#{reply.user.email}" %></p>
    <p class="reply">on <%="#{reply.readable_time}" %></p>
  </div>
</div>