<div class="block">
  <a class="add-button" href="#28"><span class="icon entypo-plus scnd-font-color"></span></a>
  <div class="profile-description">
    <p class="scnd-font-color reply"><%= reply.message %></p>
  </div>
  <p class="user-name reply">-- <%= "#{reply.user.email} on #{reply.created_at.to_s(:time)}" %></p>
</div>