<div class="container">
  <h2>Messageboard App</h2>
  <%= link_to "Register", 'users/sign_up', class: "btn btn-primary" %>
  <%= link_to "Login", 'users/sign_in', class: "btn btn-secondary" %>
</div>  