<h1>Post View</h1>
<div class="left-container container">
  <%= render 'posts/each' %>
  <div class="button-container">
    <%= form_for :reply, :url => "/posts/#{@post.id}/reply/create" do |f| %>
    <%= f.text_area :message%>
    <%= f.submit :class => 'btn btn-primary' %>
    <% end %>
  </div>
</div>