<div class="left-container container">
  <h1>Post View</h1>
  <%= render partial: 'posts/each', locals: {post: @post}%>
</div>
<div class="container reply-container">
  <h1>Replies</h1>
  <% @post.replies.each do |reply| %>
    <%= render partial: 'replies/show', locals: {reply: reply} %>
  <% end %>
  <%= reply_switch(@post) %>
</div>